.container-fluid
{
    background-color: rgba(0,0,0,0.7);
    font-family: 'EB Garamond', serif;
    height: 2000px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container-fluid
    {
        
        height: 100%;
    }
   }



.grid-b img
{
    border-radius:5px;
    border: 2px solid rgb(255,193,7);
    
}
.grid-b
{
    color: #a8a7a7;

}