.container-fluid
{
    background-color: rgba(0,0,0,0.7);
    height: 98%;
    
}


.imgRight img
{
    width: 75%;
    border: 4px solid rgb(255,193,7)
    ;
    border-radius: 10px;
}

.border-edit 
{
    box-shadow: 0 0 20px rgb(255,193,7);
    text-align: justify;
} 
.border-edit h2
{
    color:rgb(255,193,7);
    margin-left: 5px;
}
.border-edit p
{
    font-size: 1.2rem;
    color: #a8a7a7;
}  
