<div class="container-fluid">
    <div class="container text-center ">
        <div class="row">
            <div class=" imgRight p-5 col-md-6">
                <img class="img-fluid " src="https://image.tmdb.org/t/p/w500/{{movieDetails.poster_path}}"/>
            </div>
            <div class=" imgDesc col-md-6 py-5">
                <div class="border-edit">
                    <h2>{{movieDetails.original_title}}</h2>
                    <p class="p-5">{{movieDetails.overview}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
