 <div class="first">
    <div class="second ">
        <div class="container  pt-4 text-center">
            <h1 class="Header  pt-4">EgyToDay</h1>
            <p class="Descreption">Exclusively see the latest news and movies from us only</p>
            <div class="row colection  m-auto">
                <div class="  p-3 d-flex image-1">
                    <img  src="../assets/images/profile-3.jpg" alt="">
                    <button routerLink='/news'>NEWS</button>
                </div>
                <div class="  p-3 d-flex  image-1">
                    <img  src="../assets/images/profile-2.jpg" alt="">
                    <button routerLink='/movie'>MOVIES</button>
                </div>
            </div>
        </div>
    </div>
 </div>